header
    position: relative
    width: 100%
    height: 850px
    padding-bottom: 0

    video
        position: fixed
        //-o-object-fit: cover
        object-fit: cover
        width: 100%
        height: 100%
        z-index: -5
        background:
            image: url("../img/hero_bg.jpg")
            size: cover
            position: center center

#video-bg
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto


.about_container
    position: relative
    width: 1000px
    margin: 0 auto

    .about_me
        position: relative
        left: -148px
        width: 800px
        height: 800px
        -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0,5))
        filter: drop-shadow(0 0 15px rgba(0, 0, 0,5))

    .about_me_sm
        display: none


    .periodic_badges
        position: absolute
        top: 220px
        left: -60px
        -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1))
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1))

        #about-badge
            fill: white
            width: 150px
            height: 150px

        .logo
            position: absolute
            top: -125px
            left: 500px
            width: 150px
            height: 150px

        .front-end_hexa
            position: absolute
            left: 574px
            //top: -72px

        .dv_hexa
            position: absolute
            left: 718px
            //top: -72px

        .de_hexa
            position: absolute
            left: 788px
            top: 125px

        .ux_hexa
            position: absolute
            left: 932px
            top: 125px

        .ui_hexa
            position: absolute
            left: 860px
            top: 250px

    .scroll-down
        position: absolute
        left: 50%
        bottom: 120px
        font-size: 35px
        color: $font-color
        transform: translate(-50%, 0%)
        animation: fade_arrow 2s ease-in-out infinite

        &:hover
            color: $font-color

        &:active
            color: $font-color

        @keyframes fade_arrow
          0%
            transform: translate(0, -15px)
            opacity: 0

          50%
            opacity: 1

          100%
            transform: translate(0, 15px)
            opacity: 0

        @media (max-width: 713px)
            .scroll-down
                top: 50px

        @media (max-width: 431px)
            .scroll-down
                top: 20px

.header_bottom
    min-height: 50px
    min-width: 100%
    position: absolute
    bottom: 0
    background-color: #fff
    z-index: -5

    &:after
        content: ''
        width: 100%
        height: 130px
        position: absolute
        top: 0px
        background: inherit
        z-index: 6
        transform-origin: right top
        transform: skewY(3deg)

@media (max-width: 1200px)
    header
        position: relative
        top: -80px
        height: 1000px

    .about_container
        position: relative
        width: 1000px

    .about_me
        position: relative
        left: -148px
        width: 800px
        height: 800px
        -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0,5))
        filter: drop-shadow(0 0 15px rgba(0, 0, 0,5))

        .periodic_badges
            position: absolute
            top: 165px
            left: -85px
            -webkit-filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1))
            filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1))

            .logo
                position: absolute
                top: -100px
                left: 509px
                width: 150px
                height: 150px



@media (max-width: 1100px)

    header
        //height: 800px
        //background:
            image: url("../img/hero_bg.jpg")
            size: cover
            position: center center

    .about_container
        position: relative
        width: 680px
        top: 50px

        .periodic_badges
            position: absolute
            left: -160px
            top: 320px

            .logo
                position: absolute
                top: -225px
                left: 592px
                width: 150px
                height: 150px

            .front-end_hexa
                position: absolute
                left: 668px
                top: -100px

            .dv_hexa
                position: absolute
                left: 731px
                top: 30px

            .de_hexa
                position: absolute
                left: 668px
                top: 160px

            .ux_hexa
                position: absolute
                left: 600px
                top: 288px

            .ui_hexa
                position: absolute
                left: 150px
                top: 288px

    .scroll-down
        top: 750px

    .header_bottom
        //min-height: 50px
        min-width: 100%
        position: absolute
        bottom: -57px
        background-color: #fff
        z-index: -5


@media (max-width: 960px)
    header
        height: 1000px

        .about_container
            position: relative
            width: auto
            height: 100%
            top: 100px
            display: flex
            justify-content: center


            .about_me_sm
                position: absolute
                display: flex
                width: 100vh
                height: 100vh
                fill: #fff
                //top: -100px

            .about_me, .periodic_badges
                display: none


                #about-badge
                    fill: white
                    width: 120px
                    height: 120px

                .logo
                    position: absolute
                    top: -200px
                    left: 509px
                    width: 150px
                    height: 150px

                .front-end_hexa
                    position: absolute
                    left: 574px
                    top: -72px

                .dv_hexa
                    position: absolute
                    left: 718px
                    top: -72px

                .de_hexa
                    position: absolute
                    left: 645px
                    top: 55px

                .ux_hexa
                    position: absolute
                    left: 792px
                    top: 55px

                .ui_hexa
                    position: absolute
                    left: 718px
                    top: 181px
