.myskills
    position: relative
    //padding: 50px 0  50px 0
    background:
        color: $secondary-color
    color: $font-color
    height: 350px

    //.skills_title_container
        position: absolute
        display: flex
        top: 190px
        width: 200px
        text-align: center

        //.skills_title
            position: absolute
            font-family: 'Muli'
            font-weight: 900
            font-size: 30px
            color: white
            text-transform: uppercase
            width: 300px
            right: 0
            bottom: 0
            transform: rotate(270deg)

    ul
        margin: 0 auto

    .skills_modal
        position: absolute
        display: inline-block
        background-color: rgba(255, 255, 255, 0.7)
        width: 100%
        height: 100%
        z-index: 1000
        text-align: center

        .skills_modal_inner
            display: flex
            flex-direction: row
            justify-content: center
            transition: all 1s ease-out

            .gesture-swipe-left
                height: 250px
                width: 250px
                fill:  $secondary-color
                filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.7))
                padding-top: 90px

.skills_logo
    width: 100%
    height: 100%
    fill: #fff
    filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.5))


@media (max-width: 767px)

    .tag_container1
        position: relative
        float: none
        margin: 8px auto

    .tag_container2
        position: relative
        float: none
        margin: 8px auto

@media (max-width: 450px)

    .skills_title_container
        position: absolute
        top: 200px
        width: 200px

        .skills_title
                position: absolute
                left: -135px
                font-family: 'Muli'
                font-size: 20px !important
                text-transform: uppercase
                transform: rotate(270deg)
