@import url(https://fonts.googleapis.com/css?family=Muli:300,400,900);
.title_container {
  position: absolute;
  height: 100%;
  background: none;
  width: 50px;
  z-index: 1000; }
  .title_container .title_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%; }
  .title_container .title_text {
    font-family: 'Muli';
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-transform: translateX(50%) rotate(-90deg);
            transform: translateX(50%) rotate(-90deg);
    -webkit-transform-origin: left;
            transform-origin: left; }
  .title_container #works {
    position: relative;
    bottom: 100px;
    color: #008598; }
  .title_container #skills {
    position: relative;
    bottom: 70px; }

@media (max-width: 450px) {
  .title_container {
    width: 30px;
    z-index: 1000; }
    .title_container .title_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      height: 100%; }
    .title_container .title_text {
      font-family: 'Muli';
      font-weight: 900;
      font-size: 20px;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      white-space: nowrap;
      -webkit-transform: translateX(50%) rotate(-90deg);
              transform: translateX(50%) rotate(-90deg);
      -webkit-transform-origin: left;
              transform-origin: left; }
    .title_container #works {
      position: relative;
      bottom: 940px;
      color: #008598; }
    .title_container #skills {
      position: relative;
      bottom: 100px; } }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.hidden {
  display: none; }

.mark {
  border: 1px solid #1dde2c;
  background-color: transparent !important; }

header {
  position: relative;
  width: 100%;
  height: 850px;
  padding-bottom: 0; }
  header video {
    position: fixed;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-image: url("../img/hero_bg.jpg");
    background-size: cover;
    background-position: center center; }

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }

.about_container {
  position: relative;
  width: 1000px;
  margin: 0 auto; }
  .about_container .about_me {
    position: relative;
    left: -148px;
    width: 800px;
    height: 800px;
    -webkit-filter: drop-shadow(0 0 15px black);
    filter: drop-shadow(0 0 15px black); }
  .about_container .about_me_sm {
    display: none; }
  .about_container .periodic_badges {
    position: absolute;
    top: 220px;
    left: -60px;
    -webkit-filter: drop-shadow(0 0 30px black);
    filter: drop-shadow(0 0 30px black); }
    .about_container .periodic_badges #about-badge {
      fill: white;
      width: 150px;
      height: 150px; }
    .about_container .periodic_badges .logo {
      position: absolute;
      top: -125px;
      left: 500px;
      width: 150px;
      height: 150px; }
    .about_container .periodic_badges .front-end_hexa {
      position: absolute;
      left: 574px; }
    .about_container .periodic_badges .dv_hexa {
      position: absolute;
      left: 718px; }
    .about_container .periodic_badges .de_hexa {
      position: absolute;
      left: 788px;
      top: 125px; }
    .about_container .periodic_badges .ux_hexa {
      position: absolute;
      left: 932px;
      top: 125px; }
    .about_container .periodic_badges .ui_hexa {
      position: absolute;
      left: 860px;
      top: 250px; }
  .about_container .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 120px;
    font-size: 35px;
    color: #fff;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    -webkit-animation: fade_arrow 2s ease-in-out infinite;
            animation: fade_arrow 2s ease-in-out infinite; }
    .about_container .scroll-down:hover {
      color: #fff; }
    .about_container .scroll-down:active {
      color: #fff; }

@-webkit-keyframes fade_arrow {
  0% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0; } }

@keyframes fade_arrow {
  0% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    opacity: 0; } }
    @media (max-width: 713px) {
      .about_container .scroll-down .scroll-down {
        top: 50px; } }
    @media (max-width: 431px) {
      .about_container .scroll-down .scroll-down {
        top: 20px; } }

.header_bottom {
  min-height: 50px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: -5; }
  .header_bottom:after {
    content: '';
    width: 100%;
    height: 130px;
    position: absolute;
    top: 0px;
    background: inherit;
    z-index: 6;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg); }

@media (max-width: 1200px) {
  header {
    position: relative;
    top: -80px;
    height: 1000px; }
  .about_container {
    position: relative;
    width: 1000px; }
  .about_me {
    position: relative;
    left: -148px;
    width: 800px;
    height: 800px;
    -webkit-filter: drop-shadow(0 0 15px black);
    filter: drop-shadow(0 0 15px black); }
    .about_me .periodic_badges {
      position: absolute;
      top: 165px;
      left: -85px;
      -webkit-filter: drop-shadow(0 0 30px black);
      filter: drop-shadow(0 0 30px black); }
      .about_me .periodic_badges .logo {
        position: absolute;
        top: -100px;
        left: 509px;
        width: 150px;
        height: 150px; } }

@media (max-width: 1100px) {
  .about_container {
    position: relative;
    width: 680px;
    top: 50px; }
    .about_container .periodic_badges {
      position: absolute;
      left: -160px;
      top: 320px; }
      .about_container .periodic_badges .logo {
        position: absolute;
        top: -225px;
        left: 592px;
        width: 150px;
        height: 150px; }
      .about_container .periodic_badges .front-end_hexa {
        position: absolute;
        left: 668px;
        top: -100px; }
      .about_container .periodic_badges .dv_hexa {
        position: absolute;
        left: 731px;
        top: 30px; }
      .about_container .periodic_badges .de_hexa {
        position: absolute;
        left: 668px;
        top: 160px; }
      .about_container .periodic_badges .ux_hexa {
        position: absolute;
        left: 600px;
        top: 288px; }
      .about_container .periodic_badges .ui_hexa {
        position: absolute;
        left: 150px;
        top: 288px; }
  .scroll-down {
    top: 750px; }
  .header_bottom {
    min-width: 100%;
    position: absolute;
    bottom: -57px;
    background-color: #fff;
    z-index: -5; } }

@media (max-width: 960px) {
  header {
    height: 1000px; }
    header .about_container {
      position: relative;
      width: auto;
      height: 100%;
      top: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      header .about_container .about_me_sm {
        position: absolute;
        display: inherit;
        fill: #fff;
        width: 100vw;
        height: 100vh; }
      header .about_container .about_me, header .about_container .periodic_badges {
        display: none; }
        header .about_container .about_me #about-badge, header .about_container .periodic_badges #about-badge {
          fill: white;
          width: 120px;
          height: 120px; }
        header .about_container .about_me .logo, header .about_container .periodic_badges .logo {
          position: absolute;
          top: -200px;
          left: 509px;
          width: 150px;
          height: 150px; }
        header .about_container .about_me .front-end_hexa, header .about_container .periodic_badges .front-end_hexa {
          position: absolute;
          left: 574px;
          top: -72px; }
        header .about_container .about_me .dv_hexa, header .about_container .periodic_badges .dv_hexa {
          position: absolute;
          left: 718px;
          top: -72px; }
        header .about_container .about_me .de_hexa, header .about_container .periodic_badges .de_hexa {
          position: absolute;
          left: 645px;
          top: 55px; }
        header .about_container .about_me .ux_hexa, header .about_container .periodic_badges .ux_hexa {
          position: absolute;
          left: 792px;
          top: 55px; }
        header .about_container .about_me .ui_hexa, header .about_container .periodic_badges .ui_hexa {
          position: absolute;
          left: 718px;
          top: 181px; } }

@media (max-width: 768px) {
  header {
    height: 700px; } }

.hexagon-container {
  position: relative;
  overflow: hidden;
  padding: 0 0 80px 0;
  background: white; }
  .hexagon-container .hexagon-inner {
    width: 855px;
    margin: 0 auto; }
    .hexagon-container .hexagon-inner .hexagon-item {
      position: relative;
      display: inline-block;
      width: 210px;
      height: 240px; }
      .hexagon-container .hexagon-inner .hexagon-item .hexagon-img {
        position: absolute;
        display: inline-block;
        margin: 57.74px 0;
        -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.5));
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        -webkit-transform: scale(1);
                transform: scale(1); }
        .hexagon-container .hexagon-inner .hexagon-item .hexagon-img:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          z-index: 2; }
        .hexagon-container .hexagon-inner .hexagon-item .hexagon-img img {
          height: 229px; }

.hexagon-item:nth-child(7n-2) {
  margin-left: 105px; }

.hexagon-item:nth-child(n+5) {
  margin-top: -56px; }

@media (max-width: 1040px) {
  .hexagon-container .hexagon-inner {
    width: 765px; }
  .hexagon-item:nth-child(1n+4) {
    margin-left: 105px; }
  .hexagon-item:nth-child(5) {
    margin-left: 0px; }
  .hexagon-item:nth-child(6) {
    margin-left: 0px; }
  .hexagon-item:nth-child(7) {
    margin-left: 210px; }
  .hexagon-item:nth-child(n+2) {
    margin-top: -62px; } }

@media (max-width: 970px) {
  .hexagon-container .hexagon-inner {
    width: 650px; }
  .hexagon-item:nth-child(1) {
    margin-left: 105px; }
  .hexagon-item:nth-child(2) {
    margin-left: 0px; }
  .hexagon-item:nth-child(3) {
    margin-left: 210px; }
  .hexagon-item:nth-child(4) {
    margin-left: 0px; }
  .hexagon-item:nth-child(5) {
    margin-left: 105px; }
  .hexagon-item:nth-child(6) {
    margin-left: 0px; }
  .hexagon-item:nth-child(7) {
    margin-left: 210px; } }

@media (max-width: 740px) {
  .hexagon-container .hexagon-inner {
    width: 300px; }
  .hexagon-item:nth-child(odd) {
    margin-left: 0px;
    margin-top: -62px; }
  .hexagon-item:nth-child(even) {
    margin-left: 100px;
    margin-top: -62px; }
  .hexagon-img:hover {
    -webkit-transform: none !important;
            transform: none !important; }
  .hexagon-img img {
    height: 229px; } }

@media (max-width: 450px) {
  .hexagon-inner {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 15px; }
  .hexagon-item:nth-child(odd) {
    margin-left: 20px;
    margin-top: -95px; }
  .hexagon-item:nth-child(even) {
    margin-left: 90px;
    margin-top: -95px; }
  .hexagon-img {
    position: relative;
    display: inline-block; }
    .hexagon-img img {
      max-height: 170px; }
  .works_title_container {
    position: absolute;
    top: 200px;
    width: 200px; }
    .works_title_container .works_title {
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
      left: -135px;
      font-family: 'Muli';
      font-size: 20px !important;
      text-transform: uppercase;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }

.myskills {
  position: relative;
  background-color: #008598;
  color: #fff;
  height: 350px; }
  .myskills ul {
    margin: 0 auto; }
  .myskills .skills_modal {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center; }
    .myskills .skills_modal .skills_modal_inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      .myskills .skills_modal .skills_modal_inner .gesture-swipe-left {
        height: 250px;
        width: 250px;
        fill: #008598;
        -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.7));
                filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.7));
        padding-top: 90px; }

.skills_logo {
  width: 100%;
  height: 100%;
  fill: #fff;
  -webkit-filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.5)); }

@media (max-width: 767px) {
  .tag_container1 {
    position: relative;
    float: none;
    margin: 8px auto; }
  .tag_container2 {
    position: relative;
    float: none;
    margin: 8px auto; } }

@media (max-width: 450px) {
  .skills_title_container {
    position: absolute;
    top: 200px;
    width: 200px; }
    .skills_title_container .skills_title {
      position: absolute;
      left: -135px;
      font-family: 'Muli';
      font-size: 20px !important;
      text-transform: uppercase;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }

.form-container {
  background: #fff !important;
  padding: 50px 0 50px 0; }

form {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 50px; }
  form input {
    font-family: 'Muli';
    font-weight: 300;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 3px solid #008598;
    -webkit-transition: border-bottom 0.4s ease;
    transition: border-bottom 0.4s ease; }
    form input:focus, form input:active {
      outline: none;
      border-bottom: 5px solid #006d7c; }
  form textarea {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    margin: 10px 0 30px 0;
    resize: none;
    border: none;
    border-bottom: 3px solid #008598;
    -webkit-transition: border-bottom 0.4s ease;
    transition: border-bottom 0.4s ease; }
    form textarea:focus, form textarea:active {
      outline: none;
      border-bottom: 5px solid #006d7c; }
  form button {
    display: block;
    width: 120px;
    height: 50px;
    font-family: 'Muli';
    font-weight: 900;
    font-size: 18px;
    color: white;
    margin: 0 auto;
    border: none;
    background: #008598;
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    border-radius: 50px; }
    form button:hover {
      border: 2px solid #008598;
      color: #008598;
      background: none; }

.form-title {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Muli';
  font-weight: 900;
  font-size: 30px;
  color: #008598;
  text-transform: uppercase; }

form {
  border: none;
  font-family: 'Exo-regular'; }

.form-control {
  border: 1px solid #465047;
  border-radius: 0px; }
  .form-control:focus {
    border-color: #6b776c; }

.navbar {
  font-family: '';
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  float: left;
  padding: 10px 0px 20px 0px;
  border-bottom: 0;
  letter-spacing: 1px;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out; }
  .navbar a {
    color: #008598;
    padding: 25px 20px 0 0;
    text-decoration: none;
    padding-left: 40px; }
    .navbar a:hover {
      background-color: transparent !important;
      color: #d1d1d1 !important; }
  .navbar .nav {
    margin: 10px; }

.navbar-toggle {
  border: 2px solid #465047; }
  .navbar-toggle .icon-bar {
    border: 1px solid #465047; }

.top-nav-collapse {
  background-color: rgba(255, 255, 255, 0.55);
  height: 75px; }
  .top-nav-collapse li a {
    color: #465047; }

.navbar-brand {
  background-image: url(../img/leaf_logo.svg);
  background-position: center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  position: relative;
  left: 30px;
  width: 60px;
  height: 60px;
  margin-right: 50px; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.swiper-container {
  height: 300px;
  width: 85%;
  padding-top: 50px;
  padding-bottom: 0; }

.swiper-slide {
  background-color: transparent !important;
  background-position: center;
  background-size: cover;
  width: 240px !important;
  height: 240px !important; }
